<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Rose Editing images</title>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Editing Images</h1>
      </header>
      <h2>RedBull Car</h2>
      <img
        src="images/pre-shop/bull.JPG"
        alt="Original Redbull"
        title="OG Redbull Car"
      />
      <figure>
        <img
          src="images/post-shop/bull-ps.jpg"
          alt="Edited Redbull"
          title="Redbull Car"
        />
        <figcaption>Cropped, Color Adjust, and Resize</figcaption>
      </figure>
      <h2>"I Assure you We're Open"</h2>
      <img
        src="images/pre-shop/open.JPG"
        alt="Original Clerks"
        title="OG Clerks"
      />
      <figure>
        <img
          src="images/post-shop/open-ps.jpg"
          alt="Edited Clerks"
          title="Clerks"
        />
        <figcaption>
          Resize, Slight Rotation, Cropped, Tone Adjustment
        </figcaption>
      </figure>
      <h2>Chewie Laying</h2>
      <img
        src="images/pre-shop/dogs2.jpeg"
        alt="Original Dog Laying"
        title="OG Dog Laying"
      />
      <figure>
        <img
          src="images/post-shop/dogs2-ps.jpg"
          alt="Edited Dog Laying"
          title="Dog Laying"
        />
        <figcaption>Rotate about 45 degrees, Cropped, Resized</figcaption>
      </figure>
      <h2>Chewie Lookin'</h2>
      <img
        src="images/pre-shop/dogs3.jpeg"
        alt="Oringal Chewie Look"
        title="OG Chewie Look"
      />
      <figure>
        <img
          src="images/post-shop/dogs3-ps.jpg"
          alt="Edited Chewie Look"
          title="Chewie Look"
        />
        <figcaption>Resized, Color Adjust, Cropeed</figcaption>
      </figure>
      <h2>Me &amp; Shawdy</h2>
      <img
        src="images/pre-shop/yard.jpeg"
        alt="Original Shawdy Pic"
        title="OG Shawdy"
      />
      <figure>
        <img
          src="images/post-shop/yard-ps.jpg"
          alt="Edited Shawdy Pic"
          title="Shawdy"
        />
        <figcaption>Cropped slightly, Resized</figcaption>
      </figure>
    </div>
  </body>
</html>
