body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    347deg,
    rgba(10, 171, 58, 1) 26%,
    rgba(93, 44, 190, 1) 100%
  );
  padding: 0px;
  margin: 20px 20px;
}

header {
  border: 1px solid green;
  background-color: white;
  background-image: url(../content/images/pointer-7712914_640.png),
    url(../content/images/blue-flowers-7844599_640.png);
  background-position: top right, top right;
  background-repeat: no-repeat, repeat;
  background-size: 250px auto, auto;
  border-radius: 50px;
  margin: 25px 25px;
}

header section {
  text-align: center;
  margin: 1% 25% 5% 25%;
  padding: 0px 0px;
  background-color: rgba(78, 78, 220, 0.54);
  border-radius: 50px;
  color: white;
}

section {
  margin: 20px 20px;
  padding: 0px 20px 15px 20px;
  border: 2px solid purple;
}

h1,
h2 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;
  font-family: "Chango", sans-serif;
}

main {
  margin: 0px 25px;
}

h3 {
  font-size: 1.4em;
  color: white;
  text-align: center;
  margin: 20px auto 10px auto;
  text-shadow: 2px 2px 5px rgb(225, 0, 255);
  font-family: "Chango", sans-serif;
}

figure {
  width: 65%;
  display: block;
  margin: 0px auto;
  border: 15px solid transparent;
  border-image: url(../content/images/floral.jpg) 30 / 30px / 0px stretch;
}

img {
  width: 95%;
  display: block;
  margin: 20px auto 5px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px rgba(215, 129, 53, 0.5);
}

figcaption {
  color: rgb(135, 96, 5);
  font-size: 1em;
  display: block;
  margin: 0px 15px;
  padding: 10px;
  text-align: center;
  background-color: beige;
}

.column {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
}
