body {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(58, 30, 43);
  margin: 5px 35px;
  padding: 0;
  border: 2px solid rgb(70, 7, 172, 0.5);
}

p {
  color: antiquewhite;
  font-size: 1em;
}

header {
  font-size: 1.5em;
  background-color: #412066;
  padding: 25px 0px 10px;
  text-align: center;
  margin: 0px auto;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

nav ul {
  /* background-color: #333; */
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 0px;
  margin: 0px auto;
}

nav ul li {
  display: inline;
  padding: 0 10px;
  margin: auto 100px;
}

nav ul li a {
  color: rgb(204, 198, 198);
  font-weight: bold;
  padding: 8px 12px;
  border: 2px solid white;
  background-color: rgb(38, 4, 53);
  margin: 10px 0;
  font-size: 0.75em;
  border-radius: 10px;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px whitesmoke;
}

a:active {
  border: 2px solid rgb(38, 4, 53);
  background-color: white;
  color: rgb(38, 4, 53);
  box-shadow: 2px 2px rgb(0, 0, 0);
}

h2 {
  color: rgb(243, 233, 204);
  font-size: 2em;
  margin: 20px 120px;
  text-align: center;
  padding: 0px 20px;
  border-bottom: 2px solid rgb(70, 7, 172, 0.5);
  box-shadow: 4px rgba(255, 255, 255, 0.5);
}

h3 {
  color: rgb(243, 233, 204);
  font-size: 1.5em;
  margin: 40px 0px 20px 0px;
  text-align: center;
}

.active {
  color: rgb(216, 108, 162);
}

.home-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 85%;
  padding: 0px 20px;
  margin: 0px auto;
}

.home-cont img {
  width: 30%;
  border: 1px solid rgb(70, 7, 172);
  margin: auto 15px 25px 45px;
}

.home-cont p {
  line-height: 1.9em;
  margin: 0px 25px;
  text-align: justify;
}

.car-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  padding: 20px 0px 5px 0px;
  margin: 0px auto 0px auto;
}

.car-top img {
  width: 45%;
  margin: 30px 0px 45px 30px;
  border: 1px solid rgb(70, 7, 172);
}

.car-top p {
  line-height: 2em;
  margin: 10px 30px 0px 0px;
  text-align: justify;
}

.car-bot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  padding: 5px 0px 45px 0px;
  margin: 0px auto 45px auto;
}

.car-bot img {
  width: 35%;
  margin: 15px 0px 45px 30px;
  border: 1px solid rgb(70, 7, 172);
}

.car-bot p {
  line-height: 2.5rem;
  margin: 30px 10px 0px 40px;
  text-align: justify;
}

.flex-img {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 30%;
 
}

.flex-img img {
  margin: 0px 10px;
}

.show-top {
  display: flex;
  flex-direction: column;
}

.show-top p {
  line-height: 2.2em;
  margin: 10px 80px;
  text-align: center;
}

.show-bot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  margin: 5px auto 45px auto;
  padding: 0px 10px 0px 10px;
}

.show-bot img {
  width: 40%;
  margin: 10px 15px;
}

.show-bot p {
  line-height: 3em;
  text-align: left;
}

